@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
//@include sprites($spritesheet-sprites);

html {
  font-family: 'Manrope', Arial, serif;
  font-size: 16px;


  --window-height:880px;
  --announcement-bar-height:42px;
  --header-height:180px;
  --header-is-not-transparent:0;
}

body {

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
  max-width:1270px;
  padding:0 15px;
}

.container--flex {
  display: flex;
  justify-content: space-between;
}

svg {
  fill:$black;
}

.section-title {
  text-align:center;

  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin:90px 0 50px 0;
  position: relative;

  &:before {
    position: absolute;
    content:"";
    top:50%;
    width:100%;
    transform:translateY(-50%);
    height: 1px;
    background-color:$darkred;
    left:0;
    z-index: 0;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    background-color:$white;  
    display: inline-block;
    padding:0 10px;
    position: relative;
  }
}
.section-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  text-align: center;
  margin-top:-25px;
  margin-bottom:40px;
}

.top-slider-section {
  height:110vh;
}

.title {
  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom:30px;
  }
}

.simple-title {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  margin-bottom:30px; 
}

a {
  text-decoration: none;
  color:$black;
}
//Модули
@import "modules/modules";
