@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
//@include sprites($spritesheet-sprites);

html {
  font-family: 'Manrope', Arial, serif;
  font-size: 16px;


  --window-height:880px;
  --announcement-bar-height:42px;
  --header-height:180px;
  --header-is-not-transparent:0;
}

body {

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  wisth:100%;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.page p, 
.page li {
  font-weight: 300;
  font-size: 18px;
  line-height: 135.7%;
  margin-bottom: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
  max-width:1270px;
  padding:0 15px;
}

.container--flex {
  display: flex;
  justify-content: space-between;
}

svg {
  fill:$black;
}

form .error,
form  input.error,
form  textarea.error {
  border: 1px solid $red;

  &::placeholder {
    color: $red;
  }
}


.section-title {
  text-align:center;

  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin:90px 0 50px 0;
  position: relative;

  &:before {
    position: absolute;
    content:"";
    top:50%;
    width:100%;
    transform:translateY(-50%);
    height: 1px;
    background-color:$darkred;
    left:0;
    z-index: 0;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    background-color:$white;  
    display: inline-block;
    padding:0 10px;
    position: relative;
  }
}
.section-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  text-align: center;
  margin-top:-25px;
  margin-bottom:40px;
}

.top-slider-section {
  height:110vh;
}

.title {
  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom:30px;
  }

  &--simple {
    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      text-transform: none;
      letter-spacing: normal;
    }
  }
}

.simple-title {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  margin-bottom:30px; 
}

a {
  text-decoration: none;
  color:$black;
}

.list {
  li {
    padding-left: 25px;
    position: relative;
    margin-bottom: 25px;


    &:before {
      content:"";
      width:10px;
      height:10px;
      display: block;
      background-color: #C4C4C4;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: 0;
    }
  }
}

.documents {
  padding:40px 0;

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 62px;
    height: 62px;
    margin-right: 16px;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-decoration-line: underline;
  }
}

hr {

  border: none; /* Убираем границу для браузера Firefox */
  color: #B0B0B0; /* Цвет линии для остальных браузеров */
  background-color: #B0B0B0; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
  
  margin: 40px 0;
}

.gallery {
  display: grid;
  grid-gap: 20px;

  &-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .gallery__pic {
      height:25vh;
    }
  }

  &-col-3 {
    grid-template-columns: 1fr 1fr 1fr;

    .gallery__pic {
      height:35vh;
    }
  }

  &__pic {
    display: block;

  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
//Модули
@import "modules/modules";
