footer.footer.footer--light
    .footer__bottom
        .container
            p.copyright © Все права защищены 2020 | Интернет-магазин ювелирных изделий ФК «Спартак» 
            p.copyright Продолжая работу с сайтом, вы даете согласие на использование сайтом cookies и <a>обработку персональных данных</a>.

