footer.footer

    .footer__top
        .container.container--flex
            .footer__column
                h4.footer__column-title Каталог товаров
                .footer-menu
                    ul.footer-menu__list
                        li.footer-menu__item
                            a(href="").footer-menu__link Колье
                        li.footer-menu__item
                            a(href="").footer-menu__link Цепочки
                        li.footer-menu__item
                            a(href="").footer-menu__link Браслеты
                        li.footer-menu__item
                            a(href="").footer-menu__link Кольца
                        li.footer-menu__item
                            a(href="").footer-menu__link Запонки
                        li.footer-menu__item
                            a(href="").footer-menu__link Брелоки
            .footer__column
                h4.footer__column-title Покупателям
                .footer-menu
                    ul.footer-menu__list
                        li.footer-menu__item
                            a(href="").footer-menu__link Оплата
                        li.footer-menu__item
                            a(href="").footer-menu__link Условия доставки
                        li.footer-menu__item
                            a(href="").footer-menu__link Гарантия и возврат
                        li.footer-menu__item
                            a(href="").footer-menu__link Акции
                        li.footer-menu__item
                            a(href="").footer-menu__link Контакты
            .footer__column
                h4.footer__column-title Контактная информация
                .footer__content
                    a 8 (495) 000-00-00<br>
                    a info@spartak-jewelry.ru
                    p Главный офис:
                    p 123060, г. Москва
                    p ул. Новый Арбат, д.1
            .footer__column.footer__column--flex
                h4.footer__column-title Принимаем к оплате на сайте
                .footer__content.footer__content--flex
                    .payments-list
                        .payments-list__item
                            img(src="static/images/common/visa.png")
                        .payments-list__item
                            img(src="static/images/common/mastercard.png")
                        .payments-list__item
                            img(src="static/images/common/maestro.png")

                    .socials
                        ul.socials__list
                            li.socials__item
                                a(href="https://vk.com/tryhardy").socials__link
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.375 0H2.625C1.17731 0 0 1.17731 0 2.625V18.375C0 19.8227 1.17731 21 2.625 21H10.5V13.7812H7.875V10.5H10.5V7.875C10.5 5.70019 12.2627 3.9375 14.4375 3.9375H17.0625V7.21875H15.75C15.0255 7.21875 14.4375 7.1505 14.4375 7.875V10.5H17.7188L16.4062 13.7812H14.4375V21H18.375C19.8227 21 21 19.8227 21 18.375V2.625C21 1.17731 19.8227 0 18.375 0Z" fill="#C1C1C1"/>
                                    </svg>
                            li.socials__item
                                a(href="https://vk.com/tryhardy").socials__link
                                    <svg width="32" height="19" viewBox="0 0 32 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.5543 10.8951C26.0369 10.2301 26.1849 9.93429 26.5543 9.33986C26.5609 9.33307 30.8317 3.32636 31.2717 1.28929L31.2744 1.28793C31.4931 0.545571 31.2744 0 30.217 0H26.7183C25.8276 0 25.4169 0.468214 25.1969 0.992071C25.1969 0.992071 23.4155 5.33221 20.8954 8.14557C20.082 8.9585 19.706 9.21907 19.262 9.21907C19.0433 9.21907 18.7033 8.9585 18.7033 8.21614V1.28793C18.7033 0.397643 18.454 0 17.7166 0H12.2151C11.6564 0 11.3244 0.415286 11.3244 0.802072C11.3244 1.64621 12.5844 1.84029 12.7151 4.21529V9.36836C12.7151 10.4975 12.5138 10.7051 12.0671 10.7051C10.8777 10.7051 7.99094 6.34736 6.28022 1.35986C5.93487 0.392214 5.59753 0.00135704 4.70016 0.00135704H1.20004C0.20134 0.00135704 0 0.469571 0 0.993428C0 1.919 1.18937 6.52107 5.53086 12.6011C8.42429 16.7512 12.4991 19 16.2059 19C18.434 19 18.706 18.5006 18.706 17.6415C18.706 13.6759 18.5046 13.3014 19.6207 13.3014C20.138 13.3014 21.0287 13.5619 23.1088 15.5637C25.4862 17.9374 25.8769 19 27.2076 19H30.7064C31.7038 19 32.2091 18.5006 31.9184 17.5153C31.2531 15.4429 26.7569 11.1801 26.5543 10.8951Z" fill="#C1C1C1"/>
                                    </svg>
                            li.socials__item
                                a(href="https://vk.com/tryhardy").socials__link
                                    

                            li.socials__item
                                a(href="https://vk.com/tryhardy").socials__link
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.2181 0.00878906H5.76368C2.59001 0.00878906 0 2.5988 0 5.77247V17.2451C0 20.4005 2.59001 22.9905 5.76368 22.9905H17.2363C20.41 22.9905 23 20.4005 23 17.2269V5.77247C22.9818 2.5988 20.3918 0.00878906 17.2181 0.00878906ZM17.1998 8.61783C17.1998 8.74551 17.1998 8.87318 17.1998 9.00086C17.1998 12.8312 14.245 17.2451 8.82791 17.2451C7.16812 17.2451 5.61776 16.7709 4.32276 15.9501C4.55987 15.9683 4.77875 15.9866 5.01586 15.9866C6.40206 15.9866 7.66059 15.5306 8.66376 14.7463C7.36875 14.7281 6.29262 13.889 5.9096 12.74C6.09199 12.7764 6.27439 12.7947 6.45678 12.7947C6.73037 12.7947 7.00397 12.7582 7.24108 12.6852C5.92783 12.4116 4.92466 11.2443 4.92466 9.83988V9.8034C5.28945 10.0223 5.76368 10.1499 6.23791 10.1682C5.45361 9.65748 4.92466 8.76375 4.92466 7.76057C4.92466 7.23163 5.07058 6.73916 5.32593 6.30141C6.78509 8.05241 8.93735 9.20149 11.3814 9.32917C11.3267 9.1103 11.3085 8.89142 11.3085 8.67255C11.3085 7.06747 12.6217 5.77247 14.245 5.77247C15.0841 5.77247 15.8501 6.11902 16.3973 6.68444C17.0722 6.55677 17.6923 6.31965 18.2577 5.9731C18.0389 6.64796 17.5646 7.21339 16.9627 7.57818C17.5646 7.50522 18.1301 7.3593 18.659 7.12219C18.2577 7.70585 17.7653 8.21656 17.1998 8.61783Z" fill="#C1C1C1"/>
                                    </svg>
    .footer__bottom
        .container
            p.copyright © Все права защищены 2020 | Интернет-магазин ювелирных изделий ФК «Спартак» 
            p.copyright Продолжая работу с сайтом, вы даете согласие на использование сайтом cookies и <a>обработку персональных данных</a>.

