.menu-top {
    flex: 1;
    &__list {
        display:flex;
        align-items:center;
        margin-bottom:-1px;
    }

    &__link {
        text-transform: uppercase;
        display: inline-block;
        padding: 27px 1px;
        margin: 0 25px;
        color:inherit;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        transition: 0.2s ease-in-out;
        position: relative;
        
    }

    &__item:first-child a{
        margin-left:0;
    }
}

.index-page {
    .menu-top {
        &__link {
            color:inherit;
        }
    }
}

.menu-top__submenu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $white;
    color: $black;
    padding:25px 0;
    border-top: 1px solid $black;
    opacity:0;
    transition: 0.3s ease-in-out;

    &-wrapper {
        display:flex;
        justify-content: space-between;

        > div,
        > ul {
            flex: 1 1 22%;
        }
        .offers-block {
            flex: 1 1 33%;
        }
    }


    &-title {
        font-weight: 300;
        font-size: 14px;
        line-height: 79.68%;
        color:#919191;
        margin-bottom:30px;
    }

    &-link {
        display: block;
        color:inherit;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        transition: 0.2s ease-in-out;
        margin-bottom: 25px;

    }

    &-item:last-child a {
        margin-bottom:0;
    }
}

.offers-block {
    max-height: 110px;
    position: relative;
    flex: 1 1 33%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 79.68%;
        color:$white;

        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
    }
}

.menu-top__item:hover {
    .menu-top__submenu {
        opacity:1;
        z-index:9999;
        visibility: visible;
    }
}

.menu-top__item a.menu-top__link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    transition: 0.2s ease-in-out;
}

.menu-top__item:hover a.menu-top__link{
    &:after {
        width: 100%;
    }
}
.menu-top__item.active a.menu-top__link {
    &:after {
        width: 100%;
    }
}