.menu-top {
    &__list {
        display:flex;
        align-items:center;
        margin-bottom:-1px;
    }

    &__link {
        text-transform: uppercase;
        display: inline-block;
        padding: 27px 1px;
        margin: 0 25px;
        color:inherit;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        transition: 0.2s ease-in-out;
    }
}

.index-page {
    .menu-top {
        &__link {
            color:inherit;
        }
    }
}