extends layout/main
include ../ui-kit/ui-product/index

block variables
	-var title = 'Главная страница'

block content
	section.top-slider-section
		.top-slider
			.top-slider__list
				.top-slider__item
					img(src="static/images/slide1.jpg")
					.top-slider__content
						.top-slider__picture
							img(src="static/images.logo-large.png").second
						h2.top-slider__title Ювелирные изделия ФК «Спартак»
						.top-slider__button
							a.top-slider__link(href="catalog.thml") к покупкам!
				.top-slider__item
					img(src="static/images/slide1.jpg")
					.top-slider__content
						.top-slider__picture
							img(src="static/images.logo-large.png").second
						h2.top-slider__title Ювелирные изделия ФК «Спартак»
						.top-slider__button
							a.top-slider__link(href="catalog.thml") к покупкам!
				.top-slider__item
					img(src="static/images/slide1.jpg")
					.top-slider__content
						.top-slider__picture
							img(src="static/images.logo-large.png").second
						h2.top-slider__title Ювелирные изделия ФК «Спартак»
						.top-slider__button
							a.top-slider__link(href="catalog.thml") к покупкам!
				.top-slider__item
					img(src="static/images/slide1.jpg")
					.top-slider__content
						.top-slider__picture
							img(src="static/images.logo-large.png").second
						h2.top-slider__title Ювелирные изделия ФК «Спартак»
						.top-slider__button
							a.top-slider__link(href="catalog.thml") к покупкам!

	section.popular-section
		.container
			h2.section-title Популярные товары
			.popular
				.popular-products
					.popular-products__list
						+productItem("Кольцо с драгоценным камнем", "10 000 ₽", "static/images/common/product1.jpg", true)
						+productItem("Золотая подвеска", "10 000 ₽", "static/images/common/product2.jpg")
						+productItem("Подвеска с драгоценным камнем", "10 000 ₽", "static/images/common/product3.jpg")
						+productItem("Кольцо с инкрустацией", "10 000 ₽", "static/images/common/product4.jpg")
						+productItem("Серьги с драгоценными камнями", "10 000 ₽", "static/images/common/product5.jpg")
						+productItem("Подвеска с драгоценными камнями", "10 000 ₽", "static/images/common/product6.jpg")

	section.gifts-section
		.container
			.gifts
				.gifts__list
					.gifts__item
						img(srs="static/images/common/gift1.jpg")
						h3.gifts__title Подарочный сертификат
						h4.gifts__subtitle Подзаголовок 
						.gifts__button
							a.gifts__link(href="gift.html") Подрбонее
					.gifts__item
						img(srs="static/images/common/gift2.jpg")
						h3.gifts__title Покупайте в кредит
						h4.gifts__subtitle Подзаголовок 
						.gifts__button
							a.gifts__link(href="gift.html") Подрбонее

	section.offers-section
		.container
			.offers
				.offers__new
					img(src="static/images/common/offers1.jpg")
					h3.offers__title Предложение месяца
					h4.offers__subtitle Подзаголовок 
					.offers__button
						a.offers__link(href="offer.html") Подрбонее
				.offers__list
					.offers__item
						img(src="static/images/common/offers2.jpg")
						h3.offers__title Самовывоз в Москве 
						h4.offers__subtitle Подзаголовок 
						.offers__button
							a.offers__link(href="offer.html") Подрбонее
					.offers__item
						img(src="static/images/common/offers3.jpg")
						h3.offers__title Условия доставки по Москве и МО
						h4.offers__subtitle Подзаголовок 
						.offers__button
							a.offers__link(href="offer.html") Подрбонее
					.offers__item
						img(src="static/images/common/offers4.jpg")
						h3.offers__title Доставка и самовывоз в регионах
						h4.offers__subtitle Подзаголовок 
						.offers__button
							a.offers__link(href="offer.html") Подрбонее

	section.video-section
		.container
			h2.section-title Коллекции ювелирных украшений
			h3.section-subtitle Для настоящих болельщиков

		.video
			img(src="static/images/common/video.jpg")

	section.reviews-section
		.container
			h2.section-title Отзывы покупателей
			.reviews
				.reviews__list
					.reviews__item
						.review__image
							img(src="static/images/common/review1.png")
						.reviews__content
							h4.reviews__title Иван Петров
							.reviews__date 2020-10-26
							.reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  

					.reviews__item
						.review__image
							img(src="static/images/common/review2.png")
						.reviews__content
							h4.reviews__title Мария Иванова
							.reviews__date 2020-10-26
							.reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  

				.reviews__more
					a(href="reviews.html").reviews__link Посмотреть больше отзывов
	
	section.about-section
		.container
			.about
				h3.about__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				.about__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
					

					


