extends layout/main
include ../ui-kit/ui-product/index

block variables
	-var title = 'Главная страница'

block content
	section.top-slider-section
		.top-slider
			.top-slider__list
				.top-slider__item
					img(src="static/images/slide1.jpg")
					.top-slider__content
						.container
							.top-slider__wrapper
								.top-slider__picture
									img(src="static/images/logo-large.png").second
								h2.top-slider__title Ювелирные изделия ФК «Спартак»
								.top-slider__button
									a.top-slider__link(href="catalog.thml") к покупкам!
				.top-slider__item
					img(src="static/images/slide1.jpg")
					.top-slider__content
						.container
							.top-slider__wrapper
								.top-slider__picture
									img(src="static/images/logo-large.png").second
								h2.top-slider__title Ювелирные изделия ФК «Спартак»
								.top-slider__button
									a.top-slider__link(href="catalog.thml") к покупкам!
				.top-slider__item
					img(src="static/images/slide1.jpg")
					.top-slider__content
						.container
							.top-slider__wrapper
								.top-slider__picture
									img(src="static/images/logo-large.png").second
								h2.top-slider__title Ювелирные изделия ФК «Спартак»
								.top-slider__button
									a.top-slider__link(href="catalog.thml") к покупкам!
				.top-slider__item
					img(src="static/images/slide1.jpg")
					.top-slider__content
						.container
							.top-slider__wrapper
								.top-slider__picture
									img(src="static/images/logo-large.png").second
								h2.top-slider__title Ювелирные изделия ФК «Спартак»
								.top-slider__button
									a.top-slider__link(href="catalog.thml") к покупкам!
	section.popular-section
		.container
			.section-title 
				h2 Популярные товары
			.popular
				.popular-products
					.popular-products__list
						+productItem("Кольцо с драгоценным камнем", "10 000 ₽", "static/images/common/product1.jpg", "static/images/common/product2.jpg", true)
						+productItem("Золотая подвеска", "10 000 ₽", "static/images/common/product2.jpg", "static/images/common/product1.jpg")
						+productItem("Подвеска с драгоценным камнем", "10 000 ₽", "static/images/common/product3.jpg", "static/images/common/product4.jpg")
						+productItem("Кольцо с инкрустацией", "10 000 ₽", "static/images/common/product4.jpg","static/images/common/product5.jpg")
						+productItem("Серьги с драгоценными камнями", "10 000 ₽", "static/images/common/product5.jpg", "static/images/common/product4.jpg")
						+productItem("Подвеска с драгоценными камнями", "10 000 ₽", "static/images/common/product6.jpg", "static/images/common/product5.jpg")

	section.gifts-section
		.container
			.gifts
				.gifts__list
					.gifts__item
						img(src="static/images/common/gift1.jpg")
						.gifts__content
							h3.gifts__title Подарочный сертификат
							h4.gifts__subtitle Подзаголовок 
							.gifts__button
								a.link(href="gift.html") Подрбонее
					.gifts__item
						img(src="static/images/common/gift2.jpg")
						.gifts__content
							h3.gifts__title Покупайте в кредит
							h4.gifts__subtitle Подзаголовок 
							.gifts__button
								a.link(href="gift.html") Подрбонее

	section.video-section
		.container
			.section-title 
				h2 Коллекции ювелирных украшений
			h3.section-subtitle Для настоящих болельщиков

		.video
			#video
			.video__bg(style="background-image:url(static/images/common/video.jpg)")
			.video__button

	section.reviews-section
		.container
			.section-title 
				h2 Отзывы покупателей
			.reviews
				.reviews__list
					.reviews__item
						.reviews__image
							.reviews__image-wrapper
								img(src="static/images/common/review1.png")
						.reviews__content
							h4.reviews__title Иван Петров
							.reviews__date 2020-10-26
							.reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  

					.reviews__item
						.reviews__image
							.reviews__image-wrapper
								img(src="static/images/common/review2.png")
						.reviews__content
							h4.reviews__title Мария Иванова
							.reviews__date 2020-10-26
							.reviews__text-wrapper
							.reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  

				.reviews__more
					a(href="reviews.html").link.link--dark.link--centered Посмотреть больше отзывов
	