extends layout/minor

block variables
	-var title = 'Оформление заказа'

block content
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				+breadcrumbs-item('Главная','/')
				+breadcrumbs-item('Каталог','/section.html')
				+breadcrumbs-item('Оформление заказа')
	section.page-section
		.order
			.container
				.title 
					h2 Специальные предложения
				form.order__form
					.order__form-content
						.order__column.order__column--large
							h4.order__title Адрес получателя
							.order__map-container 
								div#map(style="width: 100%; height: 400px")

							h4.order__title Город получения
							.order__container
								.order__address-info
									.order__address-component
										.order__address-row.not-empty
											label
												span Регион
												select
													option Регион
													option Москва
													option Калининград
													option Киев

										.order__address-row.not-empty
											label
												span Населенный пункт
												select
													option Населенный пункт
													option Москва
													option Калининград
													option Киев

										.order__address-row
											label
												span Адрес
												textarea

										.order__address-row
											label
												span Квартира
												input

											label
												span Подъезд
												input

											label
												span Этаж
												input

											label
												span Индекс
												input

										.order__address-row
											.order__address-desc
												span.red *
												span - обязательно для заполнения

										.order__address-row
											label
												span Фамилия и Имя по паспорту
												span.red *
												input
												.order__address-desc Полные фамилия, имя и отчество могут потребоваться при получении заказа

										.order__address-row
											label
												span Email
												span.red *
												input

											label
												span Телефон
												span.red *
												input
												.order__address-desc Номер телефона используется для оповещений об изменениях статуса заказа

							h4.order__title Способ получения
							.order__container
								
								.order__select
									label
										input(type="radio" name="delivery" value="Доставка")
										span Доставка
								
								.order__select
									label 
										input(type="radio" name="delivery" value="Самовывоз")
										span Самовывоз
							
							h4.order__title Платежная система
							.order__container
								.order__select.active
									label 
										input(type="radio" name="payment" value="Доставка")
										span Картой онлайн
								
								.order__select
									label 
										input(type="radio" name="payment" value="Самовывоз")
										span Самовывоз

							h4.order__title Дополнительно
							.order__container
								.order__address-row
									textarea(placeholder="Комментарий к заказу")
						
						.order__column.order__column--small
							.order__info
								.order__row
									input(type="submit" value="Оформить заказ")

								h4.order__title Ваш заказ
								.order__row.order__row--justify
									span Товары(1)
									span 10000 ₽ 
								.order__row.order__row--justify
									span Сумма товаров
									span 10000 ₽ 
								
								h4.order__title Доставка
								.order__row.order__row--justify
									span Способ получения
									span Не указано
								.order__row.order__row--justify
									span Адрес доставки
									span Не указано
								.order__row.order__row--justify
									span Стоимость доставки
									span 0 ₽
								.order__row.order__row--justify.order__row--bold
									span Итого
									span.order__red 10000 ₽

								hr

								h4.order__title Состав заказа
								.order__row
									a(href="product.html").order__item
										.order__item-pic
											img(src="static/images/common/product1.jpg")
										.order__item-desc
											h4.order__item-title Название товара
											p.order__item-count 1 шт



					.order__form-content
						input.order__submit(type="submit" value="Оформить заказ")
					
