extends layout/minor

block variables
	-var title = 'Сотрудничество'

block content
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				+breadcrumbs-item('Главная','/')
				+breadcrumbs-item('Сотрудничество')
	section.partnership-section
		.container
			.title
				h2 Сотрудничество с нами
			.partnership
				p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				ul.list
					li Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					li Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					li Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
				hr
				.title
					h2 ZANCAN
				p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				.gallery.gallery-col-4
					a.gallery__pic(href="static/images/common/zancan1.png" data-fancybox="gallery")
						img(src="static/images/common/zancan1.png")
					a.gallery__pic(href="static/images/common/zancan2.png" data-fancybox="gallery")
						img(src="static/images/common/zancan2.png")
					a.gallery__pic(href="static/images/common/zancan3.png" data-fancybox="gallery")
						img(src="static/images/common/zancan3.png")
					a.gallery__pic(href="static/images/common/zancan4.png" data-fancybox="gallery")
						img(src="static/images/common/zancan4.png")


				