// Colors
$white: #fff;
$black: #000;
$red: #DC001F;
$darkred: #C80202;
$light-gray: #E5E5E5;
$gray:#A0A0A0;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
