.gifts-section {
    padding:40px 0;
}

.gifts {
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 10s;
    }

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        color: $white;
        margin-bottom: 90px;
    }

    &__item {
        min-height: 40vh;
        position: relative;
        overflow: hidden;
        transition: 0.3s ease-in-out;

        &:hover {
            img {
                transform: scale(1.5);
            }
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding:50px;
        color:$white;
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
    }

    &__description {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }

    .gifts__content--dark {
        color: $black;
    }

    &__top-title {
        margin-bottom:50px;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        text-align: center;
    }

    &__message-text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.9;
    }

        &__message {
            margin-bottom:40px;
        }
}