.product {

    &__wrapper {
        display: flex;
        width:100%;
        margin-bottom:75px;
    }

    &__column {
        flex: 1;
        margin-right:20px;
        max-width: 50%;
    }

    &__instock {
        font-weight: 300;
        text-transform:uppercase;
        margin-bottom: 5px;
        font-size: 14px;
    }

    &__article {
        font-weight: 300;
        font-size: 12px;
        color:#979797;
        margin-bottom:35px;
    }

    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        margin-bottom:10px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 18px;
        margin-bottom:35px;
    }

    &__price {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        margin-bottom:35px;
    }

    &__colors {
        margin-bottom:35px; 

        &-title {
            font-weight: 500;
            font-size: 12px;
            color:#6B6B6B;
            margin-bottom:10px;
        }

        &-list {
            display: flex;
        }

        &-item {
            display: block;
            width:38px;
            height:38px;
            margin-right:15px;

            &:last-child {
                margin-right:0;
            }
        }
    }

    &__count {
        margin-bottom:50px; 

        &-title {
            font-weight: 500;
            font-size: 12px;
            color:#6B6B6B;
            margin-bottom:10px;
        }

        &-block {
            position: relative;
            width:fit-content;

            input {
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                padding: 10px 25px;
                width: 85px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
            }

            .product__count-add {
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.64641 3.35358L2.64641 0.353577M3.35352 0.353577L0.353516 3.35358' stroke='%23595959'/%3E%3C/svg%3E");
                position: absolute;
                top: 2px;
                right: 5px;
                width: 20px;
                height: 20px;
                background-position: center;
                /* transform: translateY(-50%); */
                background-size: 8px 8px;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            .product__count-remove {
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.64641 3.35358L2.64641 0.353577M3.35352 0.353577L0.353516 3.35358' stroke='%23595959'/%3E%3C/svg%3E");
                position: absolute;
                bottom: 2px;
                right: 5px;
                width: 20px;
                height: 20px;
                background-position: center;
                transform: rotate(180deg);
                background-size: 8px 8px;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
    }

    &__content {
        margin-bottom:75px;
    }

    &__tabs {
        display: flex;
        border-bottom: 1px solid #B0B0B0;
        margin-bottom:20px;
    }

    &__tab {
        padding: 15px;
        color: #707070;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        padding-left: 0;
        padding-right:40px;
        cursor: pointer;
    }

    &__tab.active {
        color: $black;;
    }

    &__tabs-content {
        width: 100%;
        overflow: hidden;
        position: relative;

        &-item {
            min-width: 100%;
            font-weight: 300;
            font-size: 18px;
            line-height: 2.2;
            padding-right: 40px;
            opacity: 0;
            transition: opacity .3s;
        }

        &-item.active {
            opacity: 1;
            transition: opacity .3s;
        }
    }

    &__tabs-wrapper {
        display: flex;
        transform: translateX(0%);
        transition: .3s;
    }
}

.slider-single {
    max-height: 445px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;

    &__item {
        min-width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    img {
        opacity: 0;
        width:100%;
        height:100%;
    }
}

.slider-nav {
    display: flex;
    max-height: 130px;
    overflow: hidden;

    &__item {
        margin-right:20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:last-child {
            margin-right:0;
        }

        img {
            opacity: 0;
            height:100%;
            width:100%;
        }
    }
}