.socials {

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__item {
        margin-right:20px;

        &:last-child{
            margin-right:0;
        }
    }

    &__link {
        display: block;
        width:23px;
        height:23px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}